#cartrecommend{
    h2{
        padding:rem(65) 0 rem(66) 0;
        width:100%;
        text-align: center;
        font-size:rem(40);
    }
    ul{
        display:flex;
        padding:0 rem(27) 0 rem(37);
        flex-wrap:wrap;
        li{
            width:48%;
            img{
                width:100%;
            }
            span{
                font-size:rem(36.5);
            }
            p{
                font-size:rem(29);
                color:#c0232e;
            }
        }
    }
}