#cartcontent{
    width:100%;
    h2{
        font-size:rem(40);
        margin:rem(102) rem(0) rem(43.5) rem(478);
    }
    div{
        color:#9c9c9c;
        background: #f5f5f5;
        padding:rem(124) 0 rem(224) 0;
        width:100%;
        text-align: center;
        span{
            font-size:rem(210)
        }
        p{
            font-size:(38)
        }
    }
}