#groupBookingHeader{
    .swiper-container{
        width:100%;
        .swiper-wrapper{
            z-index:none;
            width:100%;
            .swiper-slide{
                img{
                    width:100%;
                }
            }
        }
    }
}