input{
    width:rem(700);
    height:rem(85);
    background: #f6f6f6;
    border-radius:50px;
    text-indent:rem(92);
    outline: none;
    font-size:rem(36);
    margin:rem(10) 0 rem(20) rem(40);
}