#mineparticulars{
    ul{
        display: flex;
        padding-bottom:rem(48); 
        flex-wrap:wrap;
        li{
            width:33.3333%;
            padding:rem(56) 0 rem(44) 0;
            text-align: center;
            span{
                font-size:rem(74);
            }
            p{
                font-size:rem(36);
                color:#222;
            }
            #par{
                font-size:rem(29.5);
                color:#777;
            }
        }
    }
    div{
        background:#f5f5f5;
        font-size:rem(32);
        padding:rem(54) 0 rem(132) 0;
        text-align: center;
    }
}