#siftcontent{
    margin-bottom:rem(75.9984375);
    h2{
    text-align: center;
    margin:rem(33.9984375) 0 rem(49.96875) 0;
    font-size:rem(45);
    color:#333;
    small{
        text-align: center;
        font-size:rem(42.1875);
        display: inline-block;
        border-radius:50%;
        line-height:rem(43.734375);
        width:rem(46.875);
        color: #7f7f7f;
        height:rem(46.875);
        border:1px solid #7f7f7f;
    }
    }
    div{
        width:100%;
        overflow:scroll;
       ul{
        display: flex;
        width:200%;
        li{
            width:40%;
            padding:0 rem(24.984375);
            img{
                width:100%;
                height:80%;
            }
            div{
                width:100%;
                display: flex;
                justify-content:space-between;
                h3{
                    font-size:rem(42);
                overflow:hidden;
                word-break:keep-all;
                white-space:nowrap;
                text-overflow:ellipsis;
                width:80%;
                }
                span{
                    font-size:rem(42);
                    float: right;
                    width:rem(100);
                }
            }
            p{
                font-size:rem(30);
                color: #9d9d9d;
                overflow:hidden;
                word-break:keep-all;
                white-space:nowrap;
                text-overflow:ellipsis;
                height:rem(40);
            }
        }
        } 
    }
    
}
