#storeUpcontent{
    text-align: center;
    button{
        width:rem(510);
        height:rem(106);
        background: #b2a078;
        outline:none;
        color: #fff;
        text-align: center;
        line-height: rem(106);
        border:none;
        border-radius:rem(50);
        font-size:rem(42);
        margin:rem(90) 0 rem(71) 0;
    }
    img{
        width:rem(996);
        margin:rem(45) auto;
    }
}